<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <title>Sikudang</title>
  </head>

<body>
    <div id="app">
        <h2>Seluruh Barang : </h2>
        <ul>
            <li v-for=" b in barang" v-text="b.jenis">
            </li>
        </ul>

        <h2>Seluruh Barang yang masih tersisa</h2>
        <ul>
            <li v-for=" b in barangAda" v-text="b.jenis">
            </li>
        </ul>

        <h2>Seluruh Barang yang tidak tersedia</h2>
        <ul>
            <li v-for=" b in barangHabis" v-text="b.jenis">
            </li>
        </ul>
    </div>
    
    <script src="vue.min.js"></script>
	<script src="apps.js"></script>
</body>
</html>