<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <title>Sikudang</title>
  </head>

<body>
    <div id="app">
       <h3>Pilih Hobi :</h3>
       <input type="checkbox" v-model="checklist" value="Sepak Bola">
        <label for="checkbox">Sepak Bola</label> <br>

        <input type="checkbox" v-model="checklist" value="Bulu Tangkis">
        <label for="checkbox">Bulu Tangkis</label> <br>

        <input type="checkbox" v-model="checklist" value="Silat">
        <label for="checkbox">Silat</label> <br>

        <h3>Hobi yang dipilih : </h3>
        <ul>
            <li v-for="c in checklist">{{c}}</li>
        </ul>
    </div>
    
    <script src="vue.min.js"></script>
	<script src="apps.js"></script>
</body>
</html>